.places__title {
    grid-area: title;
    max-width: 460px;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    font-style: normal;
    margin: 0;
}

@media (max-width: 1024px) {
    .places__title {
        max-width: 440px;
    }
}

@media (max-width: 768px) {
    .places__title {
        max-width: 340px;
        line-height: 46px;
        font-size: 42px;
    }
}

@media (max-width: 420px) {
    .places__title {
        width: calc(100% - 32px);
        line-height: 35px;
        font-size: 32px;
        margin: 0 auto;
    }
}