    .lead {
        max-width: 984px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
    
    @media (max-width: 1024px) {
        .lead {
            max-width: 928px;
        }
    }
    
    @media (max-width: 768px) {
        .lead {
            max-width: 768px;
        }
    }
    
    @media (max-width: 425px) {
        .lead {
            max-width: 425px;
        }
    }
    
    @media (max-width: 320px) {
        .lead {
            max-width: 320px;
            margin-bottom: 86px;
        }
    }