    .footer__links {
        display: flex;
        text-decoration: none;
        list-style: none;
        margin-bottom: 24px;
        margin-top: 0;
        padding-left: 0;
    }
    
    @media (max-width: 650px) {
        .footer__links {
            flex-direction: column;
        }
    }