.intro {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 92px;
}

@media (max-width: 1024px) {
    .intro {
        max-width: 930px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 720px;
    }
}

@media (max-width: 420px) {
    .intro {
        padding-top: 64px;
        width: calc(100% - 32px);
        max-width: 100%;
    }
}