.places__links {
    max-width: 456px;
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    align-self: end;
}

@media (max-width: 320px) {
    .places__links {
        margin: 0;
        grid-row: 2;
        grid-column: 1;
        margin-left: 16px;
    }
}