.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

@media (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 720px;
    }
}

@media (max-width: 425px) {
    .footer {
        max-width: 425px;
    }
}

@media (max-width: 320px) {
    .footer {
        max-width: 186px;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
}